<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BookSwap</title>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/style.css?{{ cached_id }}">
        <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css?{{ cached_id }}">
        <link rel="shortcut icon" href="../static/images/logo.jpg?{{ cache_id }}">
        
    </head>
    <body>
        <div class="container">
            <section class="navigation">
                <img class="logo" src="static/images/logo.jpg" alt="LOGO">
                <a href="{{ url_for('home') }}"><strong>Home</strong></a>
                <a href="{{ url_for('books') }}"><strong>Books</strong></a>
                <a href="{{ url_for('about') }}"><strong>About</strong></a>
                <a href="{{ url_for('dashboard') }}"><strong>Profile</strong></a>
                <input class="text-field" type="text" placeholder="Search by title, author, genre">
                <button class="filter">
                    <img class="icon" id="search" src="static/images/searchIcon.png" alt="Search">
                </button>
                <a href="{{ url_for('login') }}"><strong>Login</strong></a>
                <a href="{{ url_for('logout') }}"><strong>Logout</strong></a>
            </section>
        </div>
        <footer>
            <p>BookSwap &copy; 2024</p>
        </footer>
    </body>
</html>