<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BookSwap</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/style.css?{{ cached_id }}">
        <link rel="shortcut icon" href="../static/images/logo.jpg?{{ cache_id }}">
    </head>
    <body>
        <div class="container">
            <section class="navigation">
                <img class="logo" src="static/images/logo.jpg" alt="LOGO">
                <a href="{{ url_for('home') }}"><strong>Home</strong></a>
                <a href="{{ url_for('books') }}"><strong>Books</strong></a>
                <a href="{{ url_for('about') }}"><strong>About</strong></a>
                <input class="text-field" type="text" placeholder="Search by title, author, genre">
                <button class="filter">
                    <img class="icon" id="search" src="static/images/searchIcon.png" alt="Search">
                </button>
                <a href="{{ url_for('login') }}"><strong>Login</strong></a>
            </section>

            <section class="books">
                {% for book, username, location in books %}
                <div class="post">
                    <img class="book" src="../static/uploads/{{ book.image }}" alt="Book image">
                    <div class="book-info">
                        <h3>Book Title: {{ book.title }}</h3>
                        <p><Strong>Author:</Strong> {{ book.author }}</p>
                        <p><Strong>Genre:<Strong> {{ book.genre }}</p>
                        <p><Strong>Owner:</Strong> {{ username }}</p>
                        <p><Strong>Location:</Strong> {{ location }}</p>
                        <div class="synopsis">
                            <h4>Synopsis:</h4>
                            <p>{{ book.synopsis }}</p>
                        </div>
                        <p><Strong>Status:</Strong> {{ book.status }}</p>
                        <button>Request</button>
                    </div>
                </div>
                {% endfor %}
            </section>
        </div>
        <footer>
            <p>BookSwap &copy; 2024</p>
        </footer>
    </body>
</html>