<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BookSwap</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="shortcut icon" href="static/images/logo.jpg">
    </head>
    <body>
        <div class="container">
            <section class="navigation">
                <img class="logo" src="static/images/logo.jpg" alt="LOGO">
                <a href="index.html"><strong>Home</strong></a>
                <a href="book.html"><strong>Books</strong></a>
                <a href="about.html"><strong>About</strong></a>
                <input class="text-field" type="text" placeholder="Search by title, author, genre">
                <button class="filter">
                    <img class="icon" id="search" src="static/images/searchIcon.png" alt="Search">
                </button>
                <a href="login.html"><strong>Login</strong></a>
            </section>

            <section class="books">
                <div class="post">
                    <img class="book" src="static/images/book1.jpeg" alt="Book1">
                    <div class="book-info">
                        <h3>Book Title:</h3>
                        <p>Author:</p>
                        <p>Genre:</p>
                        <p>Price:</p>
                        <p>Condition:</p>
                        <p>Location:</p>
                        <p>Posted by:</p>
                        <button class="buy">Borrow</button>
                    </div>
                </div>

                <div class="post">
                    <img class="book" src="static/images/book2.jpeg" alt="Book2">
                    <div class="book-info">
                        <h3>Book Title:</h3>
                        <p>Author:</p>
                        <p>Genre:</p>
                        <p>Price:</p>
                        <p>Condition:</p>
                        <p>Location:</p>
                        <p>Posted by:</p>
                        <button class="buy">Borrow</button>
                    </div>
                </div>

                <div class="post">
                    <img class="book" src="static/images/book3.jpeg" alt="Book3">
                    <div class="book-info">
                        <h3>Book Title:</h3>
                        <p>Author:</p>
                        <p>Genre:</p>
                        <p>Price:</p>
                        <p>Condition:</p>
                        <p>Location:</p>
                        <p>Posted by:</p>
                        <button class="buy">Borrow</button>
                    </div>
                </div>

                <div class="post">
                    <img class="book" src="static/images/book4.jpeg" alt="Book4">
                    <div class="book-info">
                        <h3>Book Title:</h3>
                        <p>Author:</p>
                        <p>Genre:</p>
                        <p>Price:</p>
                        <p>Condition:</p>
                        <p>Location:</p>
                        <p>Posted by:</p>
                        <button class="buy">Borrow</button>
                    </div>
                </div>

                <div class="post">
                    <img class="book" src="static/images/book5.jpeg" alt="Book5">
                    <div class="book-info">
                        <h3>Book Title:</h3>
                        <p>Author:</p>
                        <p>Genre:</p>
                        <p>Price:</p>
                        <p>Condition:</p>
                        <p>Location:</p>
                        <p>Posted by:</p>
                        <button class="buy">Borrow</button>
                    </div>
                </div>

                <div class="post">
                    <img class="book" src="static/images/book1.jpeg" alt="Book1">
                    <div class="book-info">
                        <h3>Book Title:</h3>
                        <p>Author:</p>
                        <p>Genre:</p>
                        <p>Price:</p>
                        <p>Condition:</p>
                        <p>Location:</p>
                        <p>Posted by:</p>
                        <button class="buy">Borrow</button>
                    </div>
                </div>

                <div class="post">
                    <img class="book" src="static/images/book2.jpeg" alt="Book2">
                    <div class="book-info">
                        <h3>Book Title:</h3>
                        <p>Author:</p>
                        <p>Genre:</p>
                        <p>Price:</p>
                        <p>Condition:</p>
                        <p>Location:</p>
                        <p>Posted by:</p>
                        <button class="buy">Borrow</button>
                    </div>
                </div>

                <div class="post">
                    <img class="book" src="static/images/book3.jpeg" alt="Book3">
                    <div class="book-info">
                        <h3>Book Title:</h3>
                        <p>Author:</p>
                        <p>Genre:</p>
                        <p>Price:</p>
                        <p>Condition:</p>
                        <p>Location:</p>
                        <p>Posted by:</p>
                        <button class="buy">Borrow</button>
                    </div>
                </div>

                <div class="post">
                    <img class="book" src="static/images/book4.jpeg" alt="Book4">
                    <div class="book-info">
                        <h3>Book Title:</h3>
                        <p>Author:</p>
                        <p>Genre:</p>
                        <p>Price:</p>
                        <p>Condition:</p>
                        <p>Location:</p>
                        <p>Posted by:</p>
                        <button class="buy">Borrow</button>
                    </div>
                </div>

                <div class="post">
                    <img class="book" src="static/images/book5.jpeg" alt="Book5">
                    <div class="book-info">
                        <h3>Book Title:</h3>
                        <p>Author:</p>
                        <p>Genre:</p>
                        <p>Price:</p>
                        <p>Condition:</p>
                        <p>Location:</p>
                        <p>Posted by:</p>
                        <button class="buy">Borrow</button>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <p>BookSwap &copy; 2024</p>
        </footer>
    </body>
</html>