<!DOCTYPE html>
<html>
<head>
  <title>BookSwap</title>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js?{{ cached_id }}"></script>
  <script src="../static/scripts/login.js?{{ cached_id }}"></script>
  <link rel="stylesheet" type="text/css" href="../static/styles/login.css?{{ cached_id }}">
  <link rel="shortcut icon" href="../static/images/logo.jpg?{{ cached_id }}">
</head>
<body>
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <label for="user" class="label">Username</label>
            <input id="user" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <input id="check" type="checkbox" class="check" checked>
            <label for="check"><span class="icon"></span> Keep me Signed in</label>
          </div>
          <div class="group">
            <input type="submit" class="button" value="Sign In">
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href="#forgot">Forgot Password?</a>
            <a class="home" href="{{ url_for('books') }}"><Strong>Books</Strong></a>
          </div>
        </div>
        <div class="sign-up-htm">
          <div class="group">
                <label for="user-first-name" class="label">First name</label>
                <input id="user-first-name" type="text" class="input">
          </div>
          <div class="group">
            <label for="user-last-name" class="label">Last name</label>
            <input id="user-last-name" type="text" class="input">
          </div>
          <div class="group">
            <label for="user-user-name" class="label">Username</label>
            <input id="user-user-name" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass-password" class="label">Password</label>
            <input id="pass-password" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <label for="pass-repassword" class="label">Repeat Password</label>
            <input id="pass-repassword" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <label for="pass-email" class="label">Email Address</label>
            <input id="pass-email" type="text" class="input">
          </div>
          <div class="group">
            <label for="user-location" class="label">Location</label>
            <input id="user-location" type="text" class="input">
         </div>
          <div class="group">
            <input type="submit" class="button" value="Sign Up">
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <label for="tab-1">Already Member?</a>
            <a class="home" href="{{ url_for('books') }}"><Strong>Books</Strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>