/* about.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('/static/images/about.jpeg'); /* Add your background image path */
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.about-container {
    max-width: 800px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for better contrast */
    border-radius: 10px; /* Rounded corners for the container */
}

.about-content {
    text-align: justify;
    color: #333; /* Dark text color for better readability */
}

.about-content h2 {
    color: #3498db;
    text-align: center;
}

/* Add more styles as needed */

