.books {
    display: flex;
    flex-wrap: wrap;
}

.post {
    flex: 1 0 200px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.book {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.book-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    max-width: 250px;
}

.book-info {
    padding: 10px;
}

.synopsis {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 10px;
}

/* Add margin to the button for better spacing */
.book-info button {
    margin-top: 10px;
}