html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px; 
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 100%;
    margin: 1px auto;
    width: 100%;
    flex: 1 0 auto;
}

header {
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background: white url(static/images/logo.jpg);
    background-repeat: no-repeat;
    background-position: 20px center;
    flex-shrink: 0;
}

footer {

    background-color: white; 
    height: 60px; 
    width: 100%;
    border-top: 1px solid #CCCCCC;  
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    bottom: 0;
    
}