/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 1em;
    text-align: center;
    color: white;
}

/* Navbar */
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav .logo {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

nav .logout-btn {
    margin-left: auto;
    background-color: #d9534f;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

nav .logout-btn:hover {
    background-color: #c9302c;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    height: 2%;
    width: 100%;
}

/* Home Page */
.hero {
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/home.jpg');
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for hero content */
.hero-content {
    text-align: center;
}

/* Styling for the h1 */
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;  /* Space between heading and button */
}

/* Styling for the Explore button */
.explore {
    background-color: #FF6347; /* Tomato color */
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.explore:hover {
    background-color: #FF4500; /* Darker tomato on hover */
}

.explore:focus {
    outline: none;
}

/* Book List */
.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 10px;
}

.book {
    background-color: white;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    width: 250px; /* Adjusted width to accommodate the image and text */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the content */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.book h3 {
    margin-top: 15px;
    font-size: 18px;
    color: #333;
}

/* Styling the book image */
.book-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.book button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.book button:hover {
    background-color: #45a049;
}

.book:hover {
    transform: scale(1.05);
}

.book p {
    font-size: 14px;
    color: #777;
}

.book-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Profile Page */
.profile {
    padding: 20px;
}

.profile h2 {
    margin-bottom: 20px;
}

.profile form {
    display: flex;
    flex-direction: column;
}

.profile form label {
    margin-top: 10px;
}

.profile form input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.profile .btn-update-profile {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.user-books {
    margin-top: 30px;
}
